.App-logo {
    height: 30vmin;
}

.App-body {
  margin:  50px;
  min-height: 50vh;
  font-size: 20;
}

.App-header {
    align-items: top;
    font-size: 20px;
    color: #F2003A;
    display: flex;
    border-bottom: 3px solid #F2003A;
    margin-bottom:  50px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400; 
}

.App-header h1 {
    padding-top: 85px;
  }

.App-footer {
  border-top: 3px solid #F2003A;
  text-align: center;
  font-style: italic;
  font-size: 20;
}